<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minibiblioteca</title>
</head>
<body>
    <h1>Libros</h1>

    <!-- Enlaces que agregan libros usando parámetros GET -->
    <!-- Cada enlace llama a /add y envía los parámetros 'titulo' y 'autor' -->
    <a th:href="@{/add(titulo = 'El nombre del viento', autor = 'Patrick Rothfuss')}"> Añadir "El nombre del viento"</a><br/>
    <a th:href="@{/add(titulo = 'El capitán Alatriste', autor = 'Pérez Reverte')}"> Añadir "El capitán Alatriste"</a><br/>
    <a th:href="@{/add(titulo = 'Berserk', autor = 'Kentaro Miura')}"> Añadir "Berserk"</a><br/>


    <!-- Tabla para mostrar todos los libros -->
    <table border="5">
        <thead>
            <tr><!-- Titulos de la tabla -->
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
             <!-- Recorremos la lista 'libros' enviada por el controlador con un for each -->
            <tr th:each = "libro : ${libros}">

                <!-- Mostrar el valor de los atributos del objeto libro -->
                <td th:text = "${libro.ID}"></td>
                <td th:text = "${libro.titulo}"></td>
                <td th:text = "${libro.autor}"></td>
                <!-- Mostrar estado del 'libro' -->
                <td th:text = "${libro.disponible ? 'Disponible' : 'Prestado'}"></td>
                <td>
                    <!-- Enlaces para operar sobre el objeto -->
                    <a th:href = "@{/toggle/{ID}(ID = ${libro.ID})}">Cambiar estado</a>
                    <a th:href = "@{/delete/{ID}(ID = ${libro.ID})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

    
    
</body>
</html>